<section>
  <div class="row">
    <div class="col m4 l3 s12">
       <mat-card id="queue">
         <app-queue-min loadTriggr="1"></app-queue-min>
       </mat-card>
    </div>
    <div class="col m8 l9 s12">  
      <div id="show-area">
          <!-- <ul style="list-style: none">
            <li style="display: inline"><button mat-icon-button [routerLink]="'/lab/request/'+queue_id"><mat-icon>arrow_back</mat-icon></button></li> 
            <li style="display: inline"><button mat-icon-button [routerLink]="'/hisstory/'+queue_id"><mat-icon>arrow_back</mat-icon></button></li>
          </ul> -->
        <ul style="list-style: none">
          <li style="display:inline"><button mat-icon-button [routerLink]="'/hisstory/'+queue_id"><mat-icon>arrow_back</mat-icon></button></li>
        </ul>
        <mat-card>
          <app-prescription-table [prescriptions]="$prescriptions"></app-prescription-table>
        </mat-card>
        
      </div>
    </div>
  </div>
 </section>
