<div class="row" style="width: 100%">
  <div class="container" style="width: 90%">
    <h5 style="display: inline">{{(patient)?.first_name}} {{(patient)?.father_name}} {{(patient)?.grand_father_name}}</h5>
    <!-- <strong class="right"><span>{{(patient)?.reg_id}}</span> </strong> -->
    <br>
    
    <strong class="secondery">{{((patient)?.department)?.name}} Department</strong><br>
    <strong class="secondery">Id number {{(patient)?.reg_id}}</strong><br>

    <div class="col m12 l12 s12">
      <div style="margin-top: .8em">
        <span class="secondery">Age </span><span><strong>{{(patient)?.age}} years old</strong></span><br>
        <span class="secondery">Dorm </span> <span>B <strong>{{(patient)?.dorm_block}}</strong> D <strong>{{(patient)?.dorm_room_number}}</strong></span><br>
        <mat-icon class="secondery" style="font-size: 1rem">phone</mat-icon> 
          <strong>{{(patient)?.phone}}</strong>
        <!-- <strong>Registerd </strong><span>{{(patient)?.registerd_at}}</span><br> -->
      </div>
    </div>
  </div>
     <!-- <div class="col m6 l6 s12" style="border: 1px solid #ededed; padding: 16px">
      
    </div>  -->
</div>