<!-- <div class="container"> -->
  <div class="row">
    <div class="col m4 l3 s12">
      <mat-card id="queue">
        <app-queue-min loadTriggr="1"></app-queue-min>
      </mat-card>
    </div>

      <div class="col m8 l9 s12">
        <ul style="list-style: none">
          <li style="display: inline"><button mat-icon-button [routerLink]="'/lab/request/'+queue_id"><mat-icon>arrow_back</mat-icon></button></li>
          <li style="display: inline"><button mat-icon-button [routerLink]="'/hisstory/'+queue_id"><mat-icon>home</mat-icon></button></li>
        </ul>

        
        <mat-card style="width: 90; margin: auto; padding: 48px">
          
          <h5>Laboratory Requests</h5>
          <app-lab-result [tests]="requests"></app-lab-result>

        </mat-card>
      </div>    
  </div>
<!-- </div> -->
<app-saved-states 
[activeQueueId]="queue_id"
(open) = "open($event)"
></app-saved-states>