<!-- <div class="container"> -->
  <div class="row">
    <div class="col m4 l3 s12">
      <app-left-side></app-left-side>
    </div>

      <div class="col m8 l9 s12">
        <mat-card style="width: 90; margin: auto">
          <button mat-icon-button [routerLink]="'/hisstory/'+queue_id"><mat-icon>arrow_back</mat-icon></button>
          <h5 style="margin-left: 3em; display: inline">Laboratory Requests</h5>
          <table mat-table [dataSource]="requestDatasource" 
          class="mat-elevation-z0">

            <!-- number Column -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <td mat-cell *matCellDef="let request"> {{requests.indexOf(request)+1}} </td>
              </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let request"> {{request.laboratory_test.name}} </td>
            </ng-container>

            <!-- Normality Column -->
            <ng-container matColumnDef="normality">
              <th mat-header-cell *matHeaderCellDef> Normality </th>
              <td mat-cell *matCellDef="let request">
                <span *ngIf="request.normality == null" class='secondery small'>Pending..</span>
                <span *ngIf="request.normality != null">
                  <mat-icon *ngIf="request.normality" style="color: green">done</mat-icon>
                  <mat-icon *ngIf="!request.normality" style="color: red">close</mat-icon>
                </span>
                
              </td>
            </ng-container>

              <!-- Name Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Value </th>
              <td mat-cell *matCellDef="let request"> {{request.value }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef> Note </th>
              <td mat-cell *matCellDef="let request"> {{request.note}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
      </div>    
  </div>
<!-- </div> -->
<app-saved-states 
[activeQueueId]="queue_id"
(open) = "open($event)"
></app-saved-states>