<section class="row" style="margin-bottom: 0px">
  <form [formGroup]="form">
    <mat-form-field>
      <textarea matInput 
      formControlName="chief_complaint" 
      placeholder="Chief complaint (CC)"
      (blur)="$chief_complaint()">
      </textarea>
    </mat-form-field>
    <div class="row">
      <p class="small" style="padding-left: 24px; width: 100%">Vital signs <span class="small secondery">(optional)</span></p>
      <div class="col m3">
         <mat-form-field>
           <input matInput formControlName="temprature" placeholder="Temprature" (blur)="$metrix()"/>
         </mat-form-field>
      </div>
      <div class="col m3">
        <mat-form-field>
          <input matInput formControlName="BP" placeholder="BP" (blur)="$metrix()"/>
        </mat-form-field> 
      </div>
      <div class="col m3">
        <mat-form-field>
          <input matInput formControlName="puls_rate" placeholder="Puls rate" (blur)="$metrix()"/>
        </mat-form-field> 
      </div>
      <div class="col m3">
        <mat-form-field>
          <input matInput formControlName="respiratory_rate" placeholder="Respiratrory_rate" (blur)="$metrix()"/>
        </mat-form-field>
      </div>
    </div>
  </form>
</section>